* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Segoe UI', sans-serif;
    min-height: 100vh;

    background: linear-gradient(
        180deg,
        #0b0718 0%,
        #120a26 40%,
        #140d2e 70%,
        #0b0718 100%
    );

    background-attachment: fixed;
    color: white;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    backdrop-filter: none;

    border-bottom: 1px solid transparent;

    transition: all 0.4s ease;
    z-index: 1000;
}


#header.scrolled {
    background: rgba(18, 10, 38, 0.75);
    backdrop-filter: blur(14px);
    border-bottom: 1px solid rgba(140, 100, 255, 0.15);
}


.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    transition: 0.4s;
}

#header.scrolled .logo {
    color: white;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

#header.scrolled nav a {
    color: white;
}

nav a:hover {
    opacity: 0.7;
}

.hero {
    height: 100vh;
    background: url("../img/hero.png") center/cover no-repeat;
    position: relative;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.hero-overlay h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.hero-overlay p {
    font-size: 20px;
}

.vacancies-section,
.daily-section {
    padding-top: 120px;
}
